body{
  max-width: 700px;
}

h1 {
  padding: 30px;
  background-color: teal;
  color: white;
  border-radius: 10px;
}

h2 {
  
}

footer {
  text-align: center;
  padding: 5px 0px 5px 0px;
  background-color: teal;
  color: black;
  border-radius: 10px;
}

h3{
  font-size: .9em;
}

h4{
  font-size: .8em;
   color: white;
}

img {
  float: right;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}