#main {
  background-color: #e97b00;
  border-radius: 0px 0px 25px 25px;
  margin: 0px 0px 100px 0px;
} 

img[data-src] {
filter: blur(0.05em);
}

.cards {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-content: center; 
  padding: 10px 10px 50px 10px;
  }
  
  .cards section {
    background-color: white;
  }
  
  .cards section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
  }

.cards section h2{
  color: #e97b00;
  font-size: 1.5rem;
}

body{
  font-family: 'heebo', sans-serif;
  max-width: 900px;
  margin: auto;
  background: #7CEAFF;
  background-size: cover;
}

a:link, a:visited {
  border: 2px white;
  padding: 0px 0px 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #2B0084; 
}

.alertMessageYes {
  display:block;
  color: black;
  background: orange;
  padding: 20px;
  font-family: abel;
  font-size: 1.6em;
}

#weatherColumns h3 {
  grid-area: myArea;
  margin: 2px;
  font-size: 1em;
  text-align: center;
  padding: 5px;
}

#weatherColumns {
  display: grid;
  grid: "myArea myArea";
  font-size: .6em;
  grid-gap: 8px;
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.alertMessage {
  display: none;
}

.content1 {
  margin: 10px 0px 20px 10px;
  position: relative;
}

#photo {
  max-width: 94%;
}

.weatherSummary {
  max-width: 10rem;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  font-family: 'roboto', sans-serif;
	position: absolute;
	top: 10px;
	left: 25px;
	background-image: linear-gradient(orange, black);
	padding: .7rem;
	opacity: .9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.weatherSummary img {
  display: none;
  max-width: 50%;
  margin: 5px;
  }

#cloudman{
  max-width: 95%;
  margin: auto;
}

.fiveday {
display: none;
}

hr.purple {
 border: 10px solid black;
 
}
hr.yellow {
  border: 1px solid orange; 
}

#article {
  margin: 20px;
  font-size: 1.0em;
}

#articleImg {
  max-width: 40%;
  float: right; 
  margin: 0px 25px 25px 25px; 
}
header {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 0px 0px 10px 0px;
 background-image: url("https://raw.githubusercontent.com/plewekat/plewekat.github.io/master/Scoots/images/scootsHeader1a.jpg");
   background-size: cover;
}

h1 {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 1.3em;
  padding: 0px;
  color: white;
  margin: -10px;
}

  h2 {
    text-align: center;
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    color: #7CEAFF;
  }

footer {
  text-align: center;
  padding: 1px 0px 10px 0px;
	background-image: linear-gradient(white, black);
  color: rgb(146, 158, 149);
  border-radius: 0px 0px 25px 25px;
}

footer a:link, a:visited {
  border: 2px white;
  padding: 0px 0px 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: gray; 
}


  h3{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: .6em;
    margin: 5px;
  }

 p {
    text-align: center;
    margin: 10px;
    font-size: .7em;
  }

h4{
  padding: 0px 0px 0px 0px;
  font-size: .8em;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 10px -10px 10px -10px;
}

h5 {
  padding: 0px 0px 0px 20px;
  font-size: 1.15em;
  padding: 20px;
}

#paragraph
{
  padding: 0px 0px 0px 20px;
}

img { 
  max-width:100%;
  height: auto;
  margin: 10px;
}
nav {
	margin: 0 auto;
}

.flex-container {
  background-color: #e0e2da;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  margin: 10px;
  list-style: none;
	padding: 0;
  font-weight: 700;
}

.flex-container .active {
  color: orange;
}

.flex-container a:hover {
  color: gray;
}

.flex-container li:first-child {
	display: block;
}

.flex-container li {
	display: none;
}
.flex-container a {
  font-family: 'Heebo', sans-serif;
  font-size: .8em;
	display: block;
  padding: .65rem;
	text-align: left;
}

.flex-container #myLinks {
  display: none;
}

.responsive li {
	display: block;
}

#current-date {
  color: white;
  font-family: 'Heebo', sans-serif;
}

  .footerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .contactInfo {
  max-width: 100%;
  padding: 0px 0px 20px 20px;
  font-size: .7em;
}

#contactTitle {
  margin: -10px;
}
#infoEmail {
  display: flex;
  align-items: center;
}

#infoPhone {
  display: flex;
  align-items: center;
}

#infoLocation {
  display: flex;
  align-items: center;
}

#map {
 width: 200px;
 height: 200px;
}

.IWicon {
  max-width: 100%;
}



@media only screen and (min-width: 32.5em) {
  
   p {
    font-size: .8em;
  }
  
  header {
  display: block;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
h2 {
  font-size: 1.2rem;
}
  h4{
    font-size: 1rem;
  }
  
.weatherSummary {
  max-width: 30rem;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.2rem;
}
.weatherSummary img {
   display: block;
   max-width: 40%;
  }
  
#weatherColumns h3 {
  font-size: 1.1em;
}

#weatherColumns {
  font-size: .8em;
}
  
img {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: space-around;
}
  
.flex-container li {
		display: block;
		flex: 1 1 auto;
	}
  
  .flex-container a {
		text-align: center;
		font-size: .55em;
    padding: 5px;
	}
  
  .flex-container li:first-child {
		display: none;
	}
  
  h3 {
    font-size: 0.6em;
  }
  
#flexTitle {
  padding: 40px 40px 30px 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
    
#flexHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .fiveday {
 display: block;
 margin: 0px 0px 0px 10px;
 max-width: 94%;
}
  
 .content1 {
  margin: 10px -8px 10px 10px;
  position: relative;
}
 
#article {
  font-size: 1.3em;
}
.contactInfo {
  font-size: .8em;
}
}
  



@media only screen and (min-width: 50em) {
  
  p {
    font-size: .9em;
  }
  
  h1 {
    font-size: 3.7rem;
  }
  h3 {
    font-size: .9em;
  }
    .flex-container a {
		font-size: .8em;
	}
  
  .weatherSummary {
  max-width: 50rem;
  font-size: 1.5em;
  font-weight: 800;
  padding: 1.5rem;
}
  .weatherSummary img {
   max-width: 60%;
}

#weatherColumns h3 {
  font-size: 1.2em;
}

#weatherColumns {
  font-size: .95em;
}
  
  .fiveday {
 max-width: 95%;
}
  
  .content1 {
  margin: 10px -20px 10px 10px;
  position: relative;
}
  
  #article {
  font-size: 1.5em;
}
  .contactInfo {
  font-size: 1em;
}
}